<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>
      {% block titulo %}Base{% endblock %}
    </title>
    {% load staticfiles %}
    <!-- Bootstrap Styles - css
    ================================================== -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Styles - css
    ================================================== -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <!-- Others - js
    ================================================== -->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    <!-- Jquery - js
    ================================================== -->
    <script src="{% static 'datatables/js/jquery-1.11.3.min.js' %}"></script>
    <!-- Bootstrap - js
    ================================================== -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Bug fix - js
    ================================================== -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <!-- DatePicker
    ================================================== -->
    <link rel="stylesheet" href="{% static 'datepicker/css/jquery-ui.css' %}" type="text/css"/>
    <script src="{% static 'datepicker/jquery-ui.js' %}" type="text/javascript"></script>
    <!-- DataTables
    ================================================== -->
    <script src="{% static 'datatables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Scripts - js
    ================================================== -->
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
  </head>
  <body>
    
    <!-- Navbar class
    ================================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Control de Beneficiarios</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--li><a href="{% url 'registro:consultar_beneficiarios' %}">Lista</a></li-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beneficiarios <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'registro:registrar_beneficiarios' %}">
                    <i class="glyphicon glyphicon-link"></i>
                      Registrar Beneficiario
                    </a>
                </li>
                <li>
                  <a href="{% url 'registro:consultar_beneficiarios' %}">
                    <i class="glyphicon glyphicon-link"></i>
                    Consultar Beneficiario
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Direcciones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'registro:registrar_direcciones' %}">
                    <i class="glyphicon glyphicon-link"></i>
                    Registrar Dirección
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:consultar_direcciones' %}">
                    <i class="glyphicon glyphicon-link"></i>
                    Consultar Dirección
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar class -->

    <br />
    <br />
    <br />

    <!-- Container class
    ================================================== -->
    <div class="container theme-showcase" role="main">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>
                {% if message.tags %}{% endif %}
                {{ message }}
              </strong>
          </div>
        {% endfor %}
      {% endif %}

      <!-- Well class
      ================================================== -->
      <div class="welll">
      {% block cuerpo %}
      {% endblock %}
      </div>
      <!-- End Well class -->

    </div>
    <!-- End Container class -->

  </body>
</html>
