{% extends "registro/base.html" %}
{% block titulo %}Lista de Direcciones{% endblock %}
{% block cuerpo %}
<h1>Lista de Direcciones</h1>
<table border="1px" id="example" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td>{{ x.nombre_direccion }}</td>
    <td>
      <a href="{% url 'registro:editar_direcciones' x.id %}">
        <button class="btn btn-success">editar</button>
      </a>
      <a href="{% url 'registro:borrar_direcciones' x.id %}">
        <button class="btn btn-danger">borrar</button>
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
