{% extends "registro/base.html" %}
{% block titulo %}Borrar{% endblock %}
{% block cuerpo %}
<form method="post">{% csrf_token %}
  ¿Estás seguro que quieres eliminar a: "<b>{{ object }}"</b>?
  <button class="btn btn-danger" type="submit">Borrar</button>
  <a href="/consultar_direcciones"><button type="button" class="btn btn-primary">Volver</button></a>
</form>
{% endblock %}
