{% extends "registro/base.html" %}
{% block titulo %}Registrar Beneficiarios{% endblock %}
{% block cuerpo %}
<h1>Registrar Beneficiarios</h1>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <br />
  <a href="/"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}
