{% extends "registro/base.html" %}
{% block titulo %}Lista de Beneficiarios{% endblock %}
{% block cuerpo %}
<h1>Lista de Beneficiarios</h1>
<table border="1px" id="example" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th>Código</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Cédula</th>
      <th>Teléfono</th>
      <th>Estado</th>
      <th>Municipio</th>
      <th>Parroquia</th>
      <th>Dirección</th>
      <th>Observación</th>
      <th>Enviado a</th>
      <th>Estatus</th>
      <th>Fecha de solicitud</th>
      <th>Fecha de respuesta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th>Código</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Cédula</th>
      <th>Teléfono</th>
      <th>Estado</th>
      <th>Municipio</th>
      <th>Parroquia</th>
      <th>Dirección</th>
      <th>Observación</th>
      <th>Enviado a</th>
      <th>Estatus</th>
      <th>Fecha de solicitud</th>
      <th>Fecha de respuesta</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td></td>
    <td>{{ x.codigo }}</td>
    <td>{{ x.nombres }}</td>
    <td>{{ x.apellidos }}</td>
    <td>{{ x.cedula }}</td>
    <td>{{ x.telefono }}</td>
    <td>{{ x.estado }}</td>
    <td>{{ x.municipio }}</td>
    <td>{{ x.parroquia }}</td>
    <td>{{ x.direccion }}</td>
    <td>{{ x.observacion }}</td>
    <td>{{ x.enviado_a }}</td>
    {% if x.estatus == 'a' %}
      <td class="td_aprobado">Aprobado</td>
    {% elif x.estatus == 'e' %}
      <td class="td_en_proceso">En proceso</td>
    {% else %}
      <td class="td_negado">Negado</td>
    {% endif %}
    <td>{{ x.fecha_solicitud }}</td>
    <td>{{ x.fecha_respuesta }}</td>
    <td>
      <a href="{% url 'registro:editar_beneficiarios' x.id %}">
        <button class="btn btn-success">editar</button>
      </a>
      <a href="{% url 'registro:borrar_beneficiarios' x.id %}">
        <button class="btn btn-danger">borrar</button>
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
